@use 'corecss/abstract/variables' as *
#checkout-element
    *,*::before,*::after
        margin: 0
        padding: 0
        box-sizing: border-box
#checkout-element
    max-width: 1062px

#checkout-content
    input, select, textarea
        outline: none
        box-shadow: none
    .card
        border: none
